:root{
    --heading-font-family:"Playfair", system-ui;
    --p-font-family: "Poppins", serif;
    --background-color: #f9f7fe;
    --default-color: #6c63ff;

}

.whole{
    padding: 160px 20px;
    background-color: var(--background-color);
    text-align: center;
}

.btn-primary{
    color: #f9f7fe;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #6c63ff;
    font-size: 18px;
    line-height: 27px;
    
}

.whole p {
    font-family: var(--p-font-family);
    font-size: 36px;
    font-weight: bold;
    color: #272142;

}

.whole h1{
    font-family: var(--heading-font-family);
    font-size: 96px;
    font-weight: bold;
    color: black;
}

.whole h2{
    font-family: var(--heading-font-family);
    font-size: 32px;
    font-weight: bold;
}

.comment{
    font-size: 16px;
    font-family: var(--p-font-family);
    text-align: center;
    line-height: 1.5;
    
}

.apps h2{
    font-family: var(--heading-font-family);
    color: black;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    font-weight: bold;

}

.apps p{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    text-align: left;
}

.info{
    padding: 120px 60px;
    text-align: center;
}

.btn-outline-primary {
    font-size: 18px;
    color: var(--default-color);
    border: 1px solid var(--default-color);
    border-radius: 4px;
    padding: 15px 30px;
    line-height: 27px;
    
}

.image-fluid {
    max-width: 100%;
    height: auto;
}

.about {
    padding: 160px 20px;
}

.about h1{
    font-family: var(--heading-font-family);
    font-size: 64px;
    font-weight: bold;
    color: black;
    line-height: 80px;
}

.about h2{
    font-family: var(--p-font-family);
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.about p {
    font-family: var(--p-font-family);
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}

.works {
    padding: 120px 20px;
    margin: 30px;
}

.works h1 {
    font-family: var(--heading-font-family);
    font-size: 64px;
    line-height: 80px;
    color: black;
    font-weight: bold;
    
}

.works h2 {
    font-family: var(--p-font-family);
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
}

.works p {
    font-family: var(--p-font-family);
    font-size: 14px;
    text-align: center;
}

@media (max-width: 991.98px) {
    .container {
        width: 100%;
        padding: auto;
        margin: auto;
    }
    .whole {
        padding: 80px 20px;

    }
    .whole h1 {
        font-size: 44px;
        line-height: 2;
    }
    .about{
        text-align: center;
        padding: 0;
    }
    .about h1 {
        font-size: 44px;
        line-height: 56px;
    }
    .works{
        text-align: center;
        padding: 0;
    }
    .works h1 {
        font-size: 44px;
        line-height: 56px;
    }
}
